<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="icon" href="images/site-logo.png" type="image/gif" sizes="16x16">
  <title>TradeTipsIndia</title>
</head>

<body>

  <header>
    <div class="container position-relative">
      <nav class="navbar navbar-expand-sm py-4 px-0">
        <a class="navbar-brand p-0 " href="/"><img src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler p-0  d-inline d-lg-none" type="button">
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
          <!--   <li class="nav-item pl-3 active">
              <a class="nav-link" href="javascript:;">Home</a>
            </li> -->
            <li class="nav-item pl-3">
              <a class="nav-link" href="#sectionFeatureData">Features</a>
            </li>
            <li class="nav-item pl-3">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
         <!--    <li class="nav-item pl-3">
              <button type="button" class="btn dark-btn btn-rounded px-4">Download Now</button>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </header>