<% include partials/header %>
<style>


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
  <main class="main-contant">
    <section class="about-us py-4 py-md-5">
      <div class="container">
        <div class="section-sub-head mb-3 text-center primary-color">
          Contact Us
        </div>
        <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" placeholder="Your phone no..">
    
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input class="btn dark-btn rounded px-4 mb-4" type="submit" value="Submit">
  </form>
      </div>
    </section>
   
   

  </main>

  <% include partials/footer %>
