<% include partials/header %>
  <main class="main-contant">
    <section class="home-banner position-relative">
      <div class="img-top-left">
        <img src="images/rounded-img.png" alt="rounded-img">
      </div>
      <div class="img-bottom-right" data-aos="fade-left">
        <img src="images/rounded-img.png" alt="rounded-img">
      </div>
      <div class="img-top-center">
        <img src="images/line-img2.png" alt="line-img">
      </div>
      <div class="img-bottom-left">
        <img src="images/line-img.png" alt="line-img">
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-frist order-lg-last">
            <div class="banner-img-wrap text-center position-relative">
              <img src="images/rounded-img.png" alt="rounded-img" class="bottom-center w-50">
              <img src="images/banner.png" alt="banner" class="img-fluid position-relative banner-img">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-content text-white text-center text-lg-left">
              <div class="banner-sub-head font-ultralight">
                TradeTips India
              </div>
              <h1 class="my-0 my-lg-3">
                Make Your Money Work
              </h1>
              <p class="font-ultralight mb-3">
              	Our app is coming soon. Signup for early access and to get on the waiting list.
              </p>

              <div class="head-text text-white my-3">
               <input type="email" id="emails" class="form-control" style="border-radius: :50px;" placeholder="Enter Email">
              </div>
              <p>
                	<button type="button" class="btn dark-btn rounded px-4 mb-4" id="emailSubmit">Sign Up</button>
              </p>
  
              <!-- <div class="app-platform pt-2">
                <a href="javascript:;" class="mr-1 mr-md-3">
                  <img src="images/playstore.png" alt="playstore">
                </a>
                <a href="javascript:;">
                  <img src="images/appstore.png" alt="appstore">
                </a>
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="about-us py-4 py-md-5">
      <div class="container">
        <div class="section-sub-head mb-3 text-center primary-color">
          What Is TradeTips India
        </div>
        <div class="row mx-0 align-items-end">
          <div class="col-lg-6 px-0">
            <div class="text-center px-3">
              <img src="images/about-us.png" alt="about-us" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 px-0">
            <div class="content mt-lg-0 mt-4 text-center text-lg-left">
              <p class="text-white mb-lg-5">
                <ul style="color: white;">
                  <li style="font-size:20px;">We seek to be the premiere service that average investors turn to when making their stock trading decisions.</li>
                  <li style="font-size:20px;">Through our multi-tier subscription based service, we solve the dissatisfaction investors experience from the high fees and low results of standard investment advisors.</li>
                  <li style="font-size:20px;">We believe in a making life better for an average retail investor</li>
                </ul>
              </p>
              <!-- <button type="button" class="btn dark-btn rounded px-4 mb-4">Get It Now</button> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="why-we-us pb-4 py-md-5">
      <div class="container">
        <div class="section-sub-head mb-3 text-center primary-color">
         Traditional Advisors and Traditional Mentors detailed
        </div>
        <h2 class="section-main-head text-center mb-4 text-white">
          NextGen financial advisors
        </h2>
        <div class="row">
          <div class="col-md-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/users.png" alt="users" width="76">
              <div class="head-text text-white my-3">
                Traditional Advisors
              </div>
              <p>
                TradeTips India™ is a new approach to stock marke investing
                for average investors and active traders. The app
                gives you an edge in today’s fast trading markets.
              </p>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/community.png" alt="community" width="47">
              <div class="head-text text-white my-3">
                Professional Community
              </div>
              <p>
                We use the same investing algorithms that hedge
                funds and stock market institutions use to forecast
                the probable moves in stocks every day.
              </p>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/trading.png" alt="trading" width="40">
              <div class="head-text text-white my-3">
                TradeTips India Mentors
              </div>
              <p>
                See what experienced investors are investing in,
                chat with them 1-on-1 or in groups, and follow their
                verified trades in real-time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-features pb-4 py-md-5 position-relative" id="sectionFeatureData">
      <div class="img-bottom-left">
        <img src="images/line-img.png" alt="line-img">
      </div>
      <div class="container position-relative">
        <div class="section-sub-head mb-3 text-center primary-color">
          Features
        </div>
      <!--   <h2 class="section-main-head text-center mb-4 text-white">
          Use New Features
        </h2> -->
        <div class="img-top-left" >
          <img src="images/rounded-img.png" alt="rounded-img">
        </div>
        <div class="img-top-center img-top-center_left pr-4 pr-lg-5">
          <img src="images/line-img2.png" alt="line-img" >
        </div>

        <div class="row card-row">
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/forecasting.png" alt="forecasting" width="60">
              <div class="head-text text-white my-3">
                Live Stock Forecasting
              </div>
              <p>
                Machine learning 5-day future stock price predictor works to make you money

              </p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/predection.png" alt="predection" width="45">
              <div class="head-text text-white my-3">
                AI Predection
              </div>
              <p>
                AI/Mentor generated tips to help you make better decisions. 
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/mentor.png" alt="mentor" width="32">
              <div class="head-text text-white my-3">
                MACD Services
              </div>
              <p>
                MACD and other technical alerts to keep you up to date with the market trends
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/room.png" alt="room" width="48">
              <div class="head-text text-white my-3">
                Create Room
              </div>
              <p>
               Chat room to ask questions from experts
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/room.png" alt="room" width="48">
              <div class="head-text text-white my-3">
                Market Sentiments
              </div>
              <p>
                 Sentiment Analysis from reputed and trusted sources
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="card-wrap px-3 py-4 py-lg-5 mt-4 mt-lg-5 text-center">
              <div class="light-boeder-line"></div>
              <img src="images/room.png" alt="room" width="48">
              <div class="head-text text-white my-3">
                Stock Market
              </div>
              <p>
                 A platform for Stock Market Experts to sell their services like newsletter, training classes
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="video-wrap mt-4">
              <img src="images/video-cover.png" alt="video-cover" class="img-fluid">
              <div class="play-icon text-white my-3" data-toggle="modal" data-target="#playVideo">
                <img src="images/play-icon.png" class="play-icon" alt="play-icon" width="70">
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="playVideo" tabindex="-1" aria-labelledby="playVideoLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  
                  <div class="modal-body p-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="images/video-cover.png" alt="video-cover" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="app-platform-section py-4 py-md-5">
      
      <div class="container position-relative">
        <div class="img-top-center">
          <img src="images/rounded-img.png"
            alt="rounded">
        </div>
        <div class="card-wrap px-3 px-lg-5 py-4 mt-4 mt-lg-5 text-center">
          <div class="light-boeder-line"></div>
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 order-frist order-lg-last">
              <div class="banner-img-wrap text-center position-relative">
                <img src="images/app-platform.png" alt="banner" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="banner-content text-white text-center text-lg-left">
                <div class="section-head my-0 my-lg-3">
                  Download the app and start
                  Trading with TradeTips India
                </div>
                <p class="font-ultralight mb-3">
                 TradeTips India should be everywhere 
                </p>
              <!--   <div class="app-platform pt-2">
                  <a href="javascript:;" class="mr-1 mr-md-3">
                    <img src="images/playstore.png" alt="playstore">
                  </a>
                  <a href="javascript:;">
                    <img src="images/appstore.png" alt="appstore">
                  </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="faq-section pb-4 pb-md-5 position-relative">
      <div class="img-top-right">
        <img src="images/rounded-img.png" alt="rounded">
      </div>
      <div class="container position-relative">
        <div class="img-top-center img-top-center_left pr-4 pr-lg-5">
          <img src="images/line-img2.png" alt="line-img">
        </div>
        <div class="section-sub-head mb-3 text-center primary-color">
          FAQ’s
        </div>
        <h2 class="section-main-head text-center mb-4 text-white">
          Frequently Questions & Answers
        </h2>
        <div class="accordion p-3" id="accordionExample">
          <div class="card bg-transparent border-0">
            <button class="btn btn-link px-0 btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Can you trade on TradeTips India?
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body px-0 pt-0">
               No, you cannot trade on TradeTips India today. We are far more interested in giving you the tools to help you become a successful investor, than getting you access to the stock market. Use TradeTips India as a companion to your trading app
              </div>
            </div>
          </div>
          <div class="card bg-transparent border-0">
            <button class="btn btn-link px-0 btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What is a TradeTips India Mentor?
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body px-0 pt-0">
                TradeTips India is a technology platform that allows the aggregation of investing coaches and trading experts, we call Mentors.<br/>They all must go through a strong vetting process before being allowed to join TradeTips India as a Mentor, and are the only ones allowed to create and post stock tips on the app. 4. Bootstrap can be used to quickly build responsive websites.</div>
            </div>
          </div>
          <div class="card bg-transparent border-0">
            <button class="btn btn-link px-0 btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Can I talk directly to a Mentor?</button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body px-0 pt-0">
                Yes, we strongly encourage you to reach out to Mentors with your questions and comments.<br/>There are several ways to communicate with a Mentor: <br/>1. Click on a Mentor’s Tip and leave a comment for them on the Tip Detail. <br/>2. Ask them a question in the Public Chat Room. <br/>3. Take a Mentor’s group class in a their own chat room. <br/>4. Book time with a Mentor in 1-on-1 training sessions.

              </div>
            </div>
          </div>
          <div class="card bg-transparent border-0">
            <button class="btn btn-link px-0 btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              How to become mentor?
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body px-0 pt-0">
                Yes, we would like our members who are serious about investing and who have a great track record to reach out to us </div>
            </div>
          </div>
          <div class="card bg-transparent border-0">
            <button class="btn btn-link px-0 btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Can I communicate with friends on the app?
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body px-0 pt-0">
                Yes, you can connect with friends on TradeTips India.<br/>1. Click on a Mentor’s Tip and leave a comment for them on the Tip Detail.<br/>2. Communicate with them in the Public Chat Room.<br/>3. Take a Mentor’s group class together with your friends.<br/>4. Tweet a mentor tip to your own Twitter feed and get advice on the stock tip from friends there.<br/>5. Follow friends who are on the app and share ideas on tips.
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

  </main>

 <% include partials/footer %>
<script type="text/javascript">
  $("#emailSubmit").on('click', function (e) {
var email = $("#emails").val();

 if(email == "" ){
      alert("Please fill email");
    }else {

       var formdata = new FormData();
          formdata.append("email", email);

          var requestOptions = {
            method: 'POST',
            body: formdata,
            redirect: 'follow'
          };

          fetch("https://apistest.tradetipsapp.com/api/indiaUserContactInformation/addIndiaUserEmailDetails", requestOptions)
            .then(response => response.json())
            .then(result => {
                  
                      var datak = JSON.stringify(result);
                     // alert(datak);
                      var dataResultp = JSON.parse(datak); 
                      alert("Thankyou for Signup to TradeTips India");
                      window.location.reload("/"); 
                       // document.getElementById("dataContactss").reset();

             })
            .catch(error => console.log('error', error));
   }     
 });

</script>